*.docx.old
*.xlsm
*.csv
*.sketch
app.zip
ranges.js
dist/
node_modules/
/.nyc_output
/coverage
app/www/
app/platforms/
app/plugins/
/.vscode
/api/public/vendor/
/api/public/locales/
/api/public/img/
/api/public/utils/
/api/public/fonts/
/api/public/main.js
/api/public/index.html
/api/public/css/
/api/public/*.json
/api/public/api_*
